<div class="container" >
    <div class="row">
        <div class="col">
            <section class="product-names" *ngFor="let product of products">    
                <div class="product-item" (click)="toggleSelected(product)">{{product.ProductId}}</div>    
            </section>
        </div>
        <div class="col">
            <section *ngIf="selected" class="product-descriptions">
                <p>ProductId: {{selectedProduct.ProductId}}</p>
                <p>  ColorIdx: {{selectedProduct.ColorIdx}}</p>
                <p> ProductCode: {{selectedProduct.ProductCode}}</p>
                <p> ProductDescription: {{selectedProduct.ProductDescription}}</p>
                <p> Price: {{selectedProduct.Price}}</p>
                <p> VoDatum: {{selectedProduct.VoDatum}}</p>
                <p> IsHeavy: {{selectedProduct.IsHeavy}}</p>
                <p> RestrictedLands: {{selectedProduct.RestrictedLands}}</p>
                <p> IsFsk: {{selectedProduct.IsFsk}}</p>
                <p> IsOrdergruppeC: {{selectedProduct.IsOrdergruppeC}}</p>
                <button class="btn btn-primary" (click)="toggleSelected(selectedProduct)">Close</button>
            </section>
        </div>
    </div>
</div>