h1{
    text-align: center;
}
.table-header{
    border: solid 1px hsl(0, 0%, 0%);
    background-color: rgb(101, 101, 255);
    text-align: center;
}

.highlight{
    background-color: rgb(101, 101, 255);
}

tr{
    border: solid 1px black;
    text-align: center;
}

td{
    border: solid 1px black;
}
