<h1>Data</h1>
<div class="container" >
    <div class="row">
          
            <table class="col-6">
                <thead>
                    <th class="table-header">Products</th>
                </thead>

                <tbody class="product-names" *ngFor="let product of products">
                    <tr [class.highlight] = 'product.ProductId == selectedId' (click)="toggleSelected(product)">{{product.ProductId}}</tr>
                </tbody>
            </table>     
       
        
        <div *ngIf="selected" class="col-6">
            
                <table>
                    <thead>
                        <th colspan="2" class="table-header">Product Details</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ProductId: </td>
                            <td>{{selectedProduct.ProductId}}</td>
                        </tr>
                        <tr>
                            <td>ColorIdx: </td>
                            <td>{{selectedProduct.ColorIdx}}</td>
                        </tr>
                        <tr>
                            <td>ProductCode: </td>
                            <td>{{selectedProduct.ProductCode}}</td>
                        </tr>
                        <tr>
                            <td>ProductDescription: </td>
                            <td>{{selectedProduct.ProductDescription}}</td>
                        </tr>
                        <tr>
                            <td>Price: </td>
                            <td>{{selectedProduct.Price}}</td>
                        </tr>
                        <tr>
                            <td>VoDatum: </td>
                            <td>{{checkNull(selectedProduct.VoDatum)}}</td>
                        </tr>
                        <tr>
                            <td>IsHeavy: </td>
                            <td>{{selectedProduct.IsHeavy}}</td>
                        </tr>
                        <tr>
                            <td>RestrictedLands: </td>
                            <td>{{checkNull(selectedProduct.RestrictedLands)}}</td>
                        </tr>
                        <tr>
                            <td>IsFsk: </td>
                            <td>{{selectedProduct.IsFsk}}</td>
                        </tr>
                        <tr>
                            <td>IsOrdergruppeC: </td>
                            <td>{{selectedProduct.IsOrdergruppeC}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary" (click)="toggleSelected(selectedProduct)">Close</button></td>
                        </tr>
                    </tbody>
                </table>
        </div>

    </div>
</div>